/* * {
  border: 1px solid black;
} */
html {
  height: 100%;
  font-family: 'Apple SD Gothic Neo', 'Roboto', sans-serif;
}
body {
  background: #f9fafc;
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*--- LINK ---*/
h1 {
  text-align: center;
  font-weight: 100;
}
a {
  color: #0282ce;
  text-decoration: none;
  &:hover {
    color: #3fc1c9;
  }
}
button {
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
  background: #5aac44;
  color: white;
  &:hover {
    background: #60bd4e;
  }
  &:disabled {
    background: #ccc;
    cursor: default;
  }
}
input {    
  font-size: 14px;
  background-color: #FAFBFC;
  border: 2px solid #DFE1E6;
  box-sizing: border-box;
  border-radius: 3px;
  padding:0px 0px 0px 15px;
}
.form-control {
  width: 100%;
  box-sizing: border-box;
  background-color: #e2e4e6;
  border: 1px solid #cdd2d4;
  border-radius: 3px;
  display: block;
  margin-bottom: 12px;
  padding: 6px 8px;
  transition: background-color 0.3s;
}
input[type='text'].form-control,
input[type='password'].form-control,
textarea.form-control {
  font-size: 14px;
}
.form-control:focus {
  background-color: #fff;
}