/* * {
  border: 1px solid black;
} */
html {
  height: 900px;
  overFlow : scroll;
}
body {
  background: #f9fafc;
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
	width: 100%;
  height: 100%;
  position: relative;
}
h1 {
	text-align: center;
	font-weight: 100;
}

/*--- LINK ---*/
a {
  color: #0282ce;
  text-decoration: none;
}
a:hover {
  color: #3fc1c9;
}
button {
  cursor: pointer;
}
input {    
  font-size: 14px;
  background-color: #FAFBFC;
  border: 2px solid #DFE1E6;
  box-sizing: border-box;
  border-radius: 3px;
  padding:0px 0px 0px 15px;
}