/* * {
  border: 1px solid black;
} */
html {
  height: 100%;
  overFlow : scroll;
}
body {
  background: #f9fafc;
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}


/*--- LINK ---*/
h1 {
  text-align: center;
  font-weight: 100;
}
a {
  color: #0282ce;
  text-decoration: none;
}
a:hover {
  color: #3fc1c9;
}
button {
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
}
input {    
  font-size: 14px;
  background-color: #FAFBFC;
  border: 2px solid #DFE1E6;
  box-sizing: border-box;
  border-radius: 3px;
  padding:0px 0px 0px 15px;
}
li, ul, ol {
  list-style: none;
}